# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
results/
*.log
*.db
*.sqlite
description/
report/

# Сгенерированные LaTeX-файлы
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.glo-abr
*.glg
*.glg-abr
*.gls
*.gls-abr
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.out
***REMOVED***
*.ps
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv
*.xdy

# Файлы latexmk
main.fdb_latexmk
main.fls